{% extends 'admin/base-fullscreen.html' %}
{% load i18n static admin_volt %}

{% block title %} Sign IN {% endblock %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image row justify-content-center form-bg-image p-4 p-lg-8 w-100"
                     data-background-lg="{% static 'admin_volt/assets/img/illustrations/signin.svg' %}">
<!--                    <div class="col-12 d-flex align-items-center justify-content-center">-->
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">

                                <br>

                                <div class="d-grid">
                                    <a class= "btn btn-primary" href="/admin/login/?next=/admin/" >ورود به پنل مدیریت  </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!--{% block extrascript %}-->
<!--&lt;!&ndash;    <script type="application/javascript">&ndash;&gt;-->
<!--&lt;!&ndash;        {% if form.username.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;            notification.danger("{{ form.username.errors }}", 'top', 'right');&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;        {% if form.password.errors %}&ndash;&gt;-->
<!--&lt;!&ndash;            notification.danger("{{ form.password.errors }}", 'top', 'right');&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->

<!--&lt;!&ndash;        {% if user.is_authenticated %}&ndash;&gt;-->
<!--&lt;!&ndash;            var msg = "You are authenticated as {{ username }}, but are not authorized to " +&ndash;&gt;-->
<!--&lt;!&ndash;                "access this page.Would you like to login to a different account ?"&ndash;&gt;-->
<!--&lt;!&ndash;            notification.warning(msg, 'top', 'right');&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->

<!--&lt;!&ndash;        {% if form.errors and not form.non_field_errors %}&ndash;&gt;-->
<!--&lt;!&ndash;            {% if form.errors.items|length == 1 %}&ndash;&gt;-->
<!--&lt;!&ndash;                notification.warning("{% trans "Please correct the error below." %}", 'top', 'right');&ndash;&gt;-->
<!--&lt;!&ndash;            {% else %}&ndash;&gt;-->
<!--&lt;!&ndash;                notification.warning("{% trans "Please correct the errors below." %}", 'top', 'right');&ndash;&gt;-->
<!--&lt;!&ndash;            {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->

<!--&lt;!&ndash;        {% if form.non_field_errors %}&ndash;&gt;-->
<!--&lt;!&ndash;            {% for error in form.non_field_errors %}&ndash;&gt;-->
<!--&lt;!&ndash;                notification.warning("{{ error|clean_text }}", 'top', 'right');&ndash;&gt;-->
<!--&lt;!&ndash;            {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--{% endblock %}-->